
.app-name {
  font-size: 28px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.has-gradient-text {
  background: -webkit-linear-gradient(#13f7f4,#2af598);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nabar-item  {
  display: inline-block;
  padding-top: 18px;
}
.searching {
  background-color: rgba(white, 0.5);
  border:none;
  border-radius: 4px;
  width: 70%;
  height: 20px;
}
.NewTask {
  background-color: rgba(lightblue, 0.5);
  color: white;
  border: none;
  border-radius: 2px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  padding: 0px;
  font-weight: bold;
}
